* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 70vh;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px 200px;
  grid-row-gap: 40px;
  padding-top: 40px;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}
.button{
  height: 30px;
  width: 80;
padding-top: 5px;
  
  background-color: royalblue;
}
